*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#ffd6e6,#ffeef6);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
}

.card{
    width:100%;
    max-width:430px;
    background:#ffffff;
    border-radius:30px;
    padding:35px;
    text-align:center;
    box-shadow:0 20px 50px rgba(0,0,0,.15);
    animation:fadeIn .8s ease;
}

.logo{
    width:120px;
    height:120px;
    object-fit:contain;
    border-radius:50%;
    background:#fff;
    padding:10px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    margin-bottom:20px;
}

h1{
    color:#e91e63;
    font-size:44px;
    margin-bottom:5px;
}

h2{
    color:#444;
    margin-bottom:20px;
    font-weight:600;
}

.description{
    color:#666;
    line-height:1.8;
    margin-bottom:28px;
    font-size:17px;
}

.btn{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;

    text-decoration:none;
    color:#fff;

    width:100%;
    padding:18px;

    margin:14px 0;

    border-radius:15px;

    font-size:22px;
    font-weight:600;

    transition:.25s;
}

.btn:hover{
    transform:translateY(-4px);
    box-shadow:0 12px 25px rgba(0,0,0,.20);
}

.instagram{
    background:#E1306C;
}

.tiktok{
    background:#111;
}

.snapchat{
    background:#FFD600;
    color:#000;
}

.whatsapp{
    background:#25D366;
}

.call{
    background:#00A8FF;
}

.location{
    background:#3B82F6;
}

.info{
    border-top:1px solid #eee;
    margin-top:28px;
    padding-top:25px;
}

.info p{
    margin:10px 0;
    color:#555;
    font-size:18px;
}

.info h3{
    margin-top:12px;
    color:#222;
    font-size:24px;
}

.thanks{
    margin-top:25px;
    color:#e91e63;
    font-size:23px;
    font-weight:bold;
}

.footer{
    margin-top:10px;
    color:#777;
    line-height:1.6;
}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(25px);
}

to{
opacity:1;
transform:translateY(0);
}

}

@media(max-width:480px){

.card{
padding:25px;
}

.logo{
width:95px;
height:95px;
}

h1{
font-size:34px;
}

h2{
font-size:18px;
}

.btn{
font-size:18px;
padding:16px;
}

.description{
font-size:15px;
}

}
